/* PAGE */

.track-container {
  padding: 30px;
  display: flex;
  justify-content: center;
  background: #f8fafc;
  min-height: 80vh;
}

.track-card {
  width: 100%;
  max-width: 1000px;
  background: white;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.06);
}


/* HEADER INFO */

.track-info {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  margin: 25px 0;
}

.track-info > div {
  background: #f8fafc;
  padding: 14px;
  border-radius: 12px;
}

.track-info span {
  font-size: 12px;
  color: #64748b;
  display:block;
}

.track-info strong {
  font-size: 15px;
}

.status {
  color: #16a34a;
  background: #dcfce7;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-block;
  text-transform: capitalize;
}


/* TIMELINE */

.timeline {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 50px 0 30px;
}

/* base line */

.timeline::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 2;
  width: 2;
  height: 2;
  background: #e5e7eb;
}

/* step */

.timeline-step {
  text-align: center;
  position: relative;
  flex: 1;
}

/* circle */

.timeline-circle {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #64748b;
  margin: auto;
  z-index: 2;
  position: relative;
}

.timeline-step.active .timeline-circle {
  background: #16a34a;
  border-color: #16a34a;
}

/* label */

.timeline-label {
  margin-top: 8px;
  font-size: 13px;
  color: #64748b;
  text-transform: capitalize;
}

.timeline-step.active .timeline-label {
  color: #16a34a;
  font-weight: 600;
}

/* time */

.timeline-time {
  font-size: 11px;
  color: #94a3b8;
  margin-top: 4px;
}


/* ITEMS */

.track-items {
  margin-top: 25px;
}

.track-items h3 {
  margin-bottom: 10px;
}

.track-item {
  display:flex;
  justify-content:space-between;
  padding: 14px;
  background:#f8fafc;
  border-radius:12px;
  margin-bottom:10px;
}

.track-item span {
  color:#64748b;
  margin-left:6px;
}


/* MOBILE */

@media(max-width:768px){

.track-info{
grid-template-columns:1fr 1fr;
}

.timeline{
flex-direction:column;
gap:20px;
}

.timeline::before{
display:none;
}

.timeline-step{
display:flex;
align-items:center;
text-align:left;
}

.circle{
margin:0;
margin-right:6px;
}

.label{
margin-top:auto;
}

.time{
margin-left:-5px;
}

}